In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("BasvurularKCKara.csv")
df.drop_duplicates(inplace=True) # there are some dublicates

In [5]:
df.head()

    loginId  jobrefno  closingdaten
0  16011544     27997    20180324.0
1  14683593     27997    20180324.0
2  16752003     27997    20180324.0
3  20339561     27997    20180324.0
4  11978336     27997    20180324.0

In [6]:
"toplam user sample :",len(df), "Toplam user",len(df['loginId'].unique()),"Toplam jobs",len(df['jobrefno'].unique())

('toplam user sample :',
 26736326,
 'Toplam user',
 1631605,
 'Toplam jobs',
 512546)

In [7]:
all_df = df.groupby(["loginId"]).size().reset_index(name='counts')

In [8]:
three = all_df["counts"] > 2
ten = all_df["counts"] < 100
three_and_ten = all_df[three & ten]

In [9]:
three_and_ten.head()

   loginId  counts
0    10013      70
1    10019      46
2    10024      73
4    10041       4
5    10042      58

In [10]:
col_names = ["loginId", "jobrefno", "closingdaten","counts"]
reduced_df = three_and_ten.merge(df, left_on="loginId", right_on="loginId")\
   .loc[:, col_names] # takes a while

In [11]:
len(reduced_df),len(reduced_df['loginId'].unique()),len(reduced_df['jobrefno'].unique())

(17426268, 1041564, 315007)

In [12]:
users_list = reduced_df['loginId'].unique()
#we map our unique ilanlar to numbers. Great!
mapped_users_list = dict(zip(users_list, range(len(users_list))))
#creating a new integer mapped-column from users column. That was the thing I was looking for!
mapped_users_df = pd.DataFrame()
mapped_users_df['users'] = reduced_df['loginId'].map(mapped_users_list)
reduced_df['users'] = reduced_df['loginId'].map(mapped_users_list)
mapped_users_df['loginId'] = reduced_df['loginId']

In [13]:
mapped_users_df.drop_duplicates(inplace=True)
mapped_users_df.to_csv('Data/mapped_users.csv')

In [14]:
jobs_list = reduced_df['jobrefno'].unique()
#we map our unique ilanlar to numbers. Great!
mapped_jobs_list = dict(zip(jobs_list, range(len(jobs_list))))
#creating a new integer mapped-column from users column. That was the thing I was looking for!
mapped_jobs_df = pd.DataFrame()
mapped_jobs_df['jobs'] = reduced_df['jobrefno'].map(mapped_jobs_list)
reduced_df['jobs'] = mapped_jobs_df['jobs']
mapped_jobs_df['jobrefno'] = reduced_df['jobrefno']

In [15]:
mapped_jobs_df.drop_duplicates(inplace=True)
mapped_jobs_df.to_csv('Data/mapped_jobs.csv')

In [16]:
all_hotels_df_sorted = reduced_df.sort_values(by=["users","closingdaten"])

In [20]:
all_hotels_df_sorted.head(5)

    loginId  jobrefno  closingdaten  counts  users  jobs
11    10013   2163364    20181220.0      70      0    11
13    10013   2177920    20190110.0      70      0    13
12    10013   2177596    20190111.0      70      0    12
14    10013   2184920    20190119.0      70      0    14
16    10013   2186162    20190121.0      70      0    16

In [21]:
all_hotels_df_sorted.to_csv("Data/applications_sorted.csv")

In [33]:
i = 0
cnt = 0
seventy = 0
last_row = 0
total_example_count = 0

In [34]:
len(all_hotels_df_sorted)

17426268

In [35]:
lda = [True] * len(all_hotels_df_sorted)

while i < len(all_hotels_df_sorted):
    cnt+=1
    #print(sorted_df.iloc[i][0],sorted_df.iloc[i][1],sorted_df.iloc[i][2],sorted_df.iloc[i][3]
    total_example_count = int(all_hotels_df_sorted.iloc[i][3])
    #seventy = int(total_example_count * 0.7)
    seventy = total_example_count - 1
    #print(seventy)
    #for j in range(seventy):
       #print(i,"train",sorted_df.iloc[i+j][0], sorted_df.iloc[i+j][1], sorted_df.iloc[i+j][2], sorted_df.iloc[i+j][3])
       #train_set = train_set.append(sorted_df.loc[i+j])
       #sorted_df.loc[i + j,4] = 'train'
       #i += 1
    #train_set = train_set.append(sorted_df.iloc[i:i+seventy,:],ignore_index=True)
    last_row = i + total_example_count
    i = i + seventy
    #test_set = test_set.append(sorted_df.iloc[i:i+total_example_count-seventy,:])
    #i = i + total_example_count-seventy
     #  train_set.append(sorted_df.iloc[i])
    #rest_range = total_example_count - seventy
    #for k in range(rest_range):
       #print(i,"test",sorted_df.iloc[i][0], sorted_df.iloc[i][1], sorted_df.iloc[i][2], sorted_df.iloc[i][3])
       #test_set.append(sorted_df[i+i:])
       #sorted_df.iloc[i+k,4] = 2
       #i += 1
    #sorted_df.iloc[i:last_row, 4] = 2
    
    try:
        for k in range(i,last_row):
            lda[k] = False
    except:
        print(i,cnt,last_row)
        print(all_hotels_df_sorted.iloc[i][3])
        

    i = i + total_example_count - seventy
    if(cnt%10000 == 0):
        print(cnt)

10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000
310000
320000
330000
340000
350000
360000
370000
380000
390000
400000
410000
420000
430000
440000
450000
460000
470000
480000
490000
500000
510000
520000
530000
540000
550000
560000
570000
580000
590000
600000
610000
620000
630000
640000
650000
660000
670000
680000
690000
700000
710000
720000
730000
740000
750000
760000
770000
780000
790000
800000
810000
820000
830000
840000
850000
860000
870000
880000
890000
900000
910000
920000
930000
940000
950000
960000
970000
980000
990000
1000000
1010000
1020000
1030000
1040000

In [36]:
train_set = all_hotels_df_sorted.loc[lda]
test_set = all_hotels_df_sorted.loc[[not x for x in lda]]

print("total unique cust for train",len(train_set["users"].unique()))
print("total unique cust for test",len(test_set["users"].unique()))

total unique cust for train 1041564
total unique cust for test 1041564

In [40]:
train_set[['users','jobs','train_or_test','jobrefno']].to_csv("Data/training_new.csv",index=False)
test_set[['users','jobs','train_or_test','jobrefno']].to_csv("Data/test_new.csv",index=False)

In [39]:
train_set[['users','jobs','train_or_test','jobrefno']].head(23)

    loginId  jobrefno  closingdaten  counts  users  jobs  train_or_test
11    10013   2163364    20181220.0      70      0    11              1
13    10013   2177920    20190110.0      70      0    13              1
12    10013   2177596    20190111.0      70      0    12              1
14    10013   2184920    20190119.0      70      0    14              1
16    10013   2186162    20190121.0      70      0    16              1
15    10013   2186056    20190122.0      70      0    15              1
19    10013   2187165    20190124.0      70      0    19              1
20    10013   2189421    20190127.0      70      0    20              1
21    10013   2189641    20190127.0      70      0    21              1
8     10013   2150922    20190128.0      70      0     8              1
22    10013   2189793    20190128.0      70      0    22              1
23    10013   2190998    20190131.0      70      0    23              1
25    10013   2191621    20190202.0      70      0    25              1
26    10013   2193402    20190204.0      70      0    26              1
17    10013   2186282    20190205.0      70      0    17              1
27    10013   2195098    20190208.0      70      0    27              1
28    10013   2195707    20190209.0      70      0    28              1
29    10013   2197484    20190211.0      70      0    29              1
30    10013   2198441    20190214.0      70      0    30              1
5     10013   2142217    20190215.0      70      0     5              1
31    10013   2199000    20190215.0      70      0    31              1
32    10013   2199058    20190215.0      70      0    32              1
33    10013   2207463    20190221.0      70      0    33              1

In [148]:
len(lda)

3103175

In [184]:
len(all_hotels_df_sorted['jobs'].unique())

143800