In [1]:
import pandas as pd

In [2]:
train = pd.read_csv("Data/training_new.csv")
test = pd.read_csv("Data/test_new.csv")

In [3]:
train.head()

   users  jobs  train_or_test  jobrefno
0      0    11              1   2163364
1      0    13              1   2177920
2      0    12              1   2177596
3      0    14              1   2184920
4      0    16              1   2186162

In [4]:
test.head()

   users  jobs  train_or_test  jobrefno
0      0     2              1   2027223
1      1    79              1   2104236
2      2   148              1   2221780
3      3   191              1   2152912
4      4   242              1   2253445

In [5]:
f = open("kariyer_new.train.rating",'w')
count = 0
for index,row in train.iterrows():
    f.write(str(row['users']) + "\t" + str(row['jobs']) + "\t" + "1\t" + "4213")
    if(index == len(train)):
        pass
    else:
        f.write("\n")
    count+=1
f.close()   
print(count)

16384704

In [6]:
f = open("kariyer_new.test.rating",'w')
count = 0
for index,row in test.iterrows():
    f.write(str(row['users']) + "\t" + str(row['jobs']) + "\t" + "1\t" + "4213")
    if(index == len(test)):
        pass
    else:
        f.write("\n")
    count+=1
f.close()   
print(count)

1041564

In [7]:
import random
f = open("kariyer_new.test.negative",'w')
how_many_users = len(train['jobs'].unique()) - 1
count = 0
for index,row in test.iterrows():
    f.write("("+str(row['users']) + "," + str(row['jobs']) + ")")
    for i in range(99):
        random_negative = random.randint(0,how_many_users)
        f.write("\t"+str(random_negative))
    if(index == len(test)):
        pass
    else:
        f.write("\n")  
    count+=1
f.close()   
print(count)

1041564

In [41]:
frames = [train, test]
merged_df = pd.concat(frames)

In [42]:
len(merged_df['jobs'].unique())

6174

In [45]:
len(train)

405355